<%- include('./templates/header.ejs')%>

    <head>
        <link rel="stylesheet" href="/css/background.css">
        <link rel="stylesheet" href="/css/error.css">
    </head>

    <div id="content">
        <h3><%= error.status%> Error</h3> 
        <h3><%= error.message%> </h3>
    </div>
    
</div>
<%- include('./templates/footer.ejs')%>