<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="Zeke Marshall, Will Poole, Christopher Coetzer, Josh Eckard, AJ Wild">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,400;0,500;0,600;0,700;0,800;1,400;1,500;1,600;1,700;1,800&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/header.css">
    <link rel="icon" href="images/favicon.png" type="image/x-icon">
    <title>Trivia Inferno</title>
</head>
<header>
        <div id = "logo">
            <a class = "headerlink" href ="/">TRIVIA INFERNO</a>
        </div>
        <div id="nav">
            <%if(!user){%>
                <a class = "headerlink" href="/users/new">Sign Up</a>
                <a class = "headerlink" href="/users/login">Login</a>
                <a class = "headerlink" href="/leaderboard">Leaderboard</a>
            <%} else {%>
                <a class = "headerlink" href="/users/profile">Profile</a>
                <a class = "headerlink" href="/users/logout">Logout</a>
                <a class = "headerlink" href="/leaderboard">Leaderboard</a>
            <%}%>
        </div>
</header>
<body>
    <div class = "content">
        <% if(errorMessages.length > 0) { %>
            <div class="error">
                <ul>
                    <% errorMessages.forEach(function(message) { %>
                        <li><%= message %></li>
                    <% }); %>
                </ul>
            </div>
        <% } %>
        <% if(successMessages.length > 0) { %>
            <div class="success">
                <ul>
                    <% successMessages.forEach(function(message) { %>
                        <li><%= message %></li>
                    <% }); %>
                </ul>
            </div>
        <% } %>