<%- include('../templates/header.ejs')%>

<head>
    <link rel="stylesheet" href="/css/new.css">
    <link rel="stylesheet" href="/css/background.css">
</head>

<div id="content">
    <h2 class="loginHeader">Sign Up Here!</h2>

    <form action = '/users' method = 'POST' class="newUserForm">
    
        <input type="text" id="firstName" name="firstName" placeholder="First Name*" required>
        
        <input type="text" id="lastName" name="lastName" placeholder="Last Name*" required>
       
        <input type="email" id="email" name="email" placeholder="Email">
        
        <input type="password" id="password" name="password" minlength="8" placeholder="Password*" required>
    
        <input id="submit" type="submit" value="Sign Up">      
    </form>
</div>
    

</div>

<%- include('../templates/footer.ejs')%>