<%- include('../templates/header.ejs')%>

<head>
    <link rel="stylesheet" href="/css/background.css">
    <link rel="stylesheet" href="/css/profile.css">
</head>
<div id="content">
    <h2>Welcome, <%=user.firstName%></h2>
</div>

    <div></div>

</div>
<%- include('../templates/footer.ejs')%>