<%- include('../templates/header.ejs') %>
<%- include('../templates/nav.ejs') %>

<h2>Score: </h2>
<h2>Correct Answers: </h2>
<h2>Incorrect Answers: </h2>
<h1><a href="http://localhost:3000/game/show/<%-quiz._id%>">Share</a></h1>

<%- include('../templates/footer.ejs') %>